@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap");

header, section, footer, nav, {
  display: block;
}

@keyframes slideBanner {
  from { transform: translateX(-100%); }
  to { transform: translateX(100%); }
}

.banner {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #df1238;
  color: #f3e3e3;
  width: 100%;
  font-size: 1em;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.banner span {
  display: inline-block;
  padding-left: 100%; /* Make sure the text starts from outside the right edge */
  animation: slideBanner 15s linear infinite; /* Adjust time as per your preference */
}

body {
  color: black;
  background-color: rgb(1, 32, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4em;
  margin: 0;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  border: 3px dashed #df1238;
  background-color: #f3e3e3;
  padding: 10px;
}

header {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/christmas-tree-lights-1607346641.jpg?crop=0.6666666666666666xw:1xh;center,top&resize=2048:*");
  background-size: cover;
  position: relative;
  width: 100%;
  grid-column: 1 / -1;
}

header h1 {
  font-family: 'Mountains of Christmas', cursive;
  color: #f3e3e3;
  text-shadow: 2px 2px 4px black;
  font-size: 60px;
  text-align: center;
  line-height: 200px;
  margin: 0;
}

nav, footer {
  clear: both;
  background-color: #df1238;
  text-align: center;
}

nav ul {
  padding: 0;
  list-style: none;
  line-height: 50px;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  color: #f3e3e3;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
}

nav li a:hover{
  color: black;
  text-decoration: underline;
}

/* Main Content */

h3, h2 {
  font-family: 'Mountains of Christmas', cursive;
}

.welcome {
  grid-column: 1 / -1;
  text-align: center;
  margin: 20px;
  padding: 0 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

details {
  text-align: center;
}

.recipe-content {
  display: flex;
  gap: 20px;
}

.recipe {
  border: 1px solid ;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(1, 32, 1) ;
 ;
}

.recipe img {
  max-width: 100%;
  height: auto;
  width: 400px;
  margin-right:10px ;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px 20px 0 0;
}

.recipe img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(1, 32, 1) ;
}
.popular-recipes {
  background-color: rgb(1, 32, 1);
  padding: 20px;
  border-radius: 20px;
  color: #f3e3e3;
  box-shadow: 0px 0px 10px rgb(1, 32, 1) ;
}

.recipe-list {
  list-style-type: none;
  padding: 0;
}

.recipe-item {
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipe-item a {
  color: #f3e3e3;
  text-decoration: none;
}

.recipe-item a:hover {
  color: #df1238;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .recipe-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  h3 {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  img {
    max-width: 100%;
  }
  p {
    font-size: 14px ;
  }
}