/* Base styles for all screen sizes */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #001f3f; /* Navy blue */
  color: #ff69b4; /* Pink */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Light box shadow */
  background-color: #fff; /* White background */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Change height to min-height */
  position: relative;
}

.App-header {
  background-color: #001f3f; /* Navy blue */
  padding: 20px;
  color: #ff69b4; /* Pink */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}

.FeaturedAnime,
.RandomAnime {
  margin-top: 20px;
}

.RandomizeButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff69b4; /* Pink */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.RandomizeButton:hover {
  background-color: #ff1493; /* Lighter pink on hover */
}

.Footer {
  background-color: #001f3f; /* Navy blue */
  color: #ff69b4; /* Pink */
  padding: 10px;
  text-align: center;
  border-top: 2px solid #ff69b4; /* Pink */
  margin-top: auto; /* Align to bottom */
  border-bottom-left-radius: 20px; /* Match border radius */
  border-bottom-right-radius: 20px; /* Match border radius */
}

button {
  padding: 10px 20px;
  background-color: #ff69b4; /* Pink */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff1493; /* Lighter pink on hover */
}

.FeaturedAnime {
  margin-top: 50px;
}

.AnimeList {
  display: flex;
  justify-content: center;
}

.AnimeCard {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.AnimeCard:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.AnimeCard img {
  width: 100px; /* Make images wider */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.RandomAnime {
  margin-top: auto; /* Align to bottom */
  height: 150px; /* Set a fixed height */
  overflow: auto; /* Add overflow to allow scrolling if needed */
}

.AnimeDescriptionModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #ff69b4; /* Pink */
  padding: 20px;
  max-width: 80%;
  overflow: auto;
  z-index: 1000;
}

.ModalContent {
  position: relative;
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px; /* Increased font size */
  width: 40px; /* Larger width */
  height: 40px; /* Larger height */
  border-radius: 50%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff69b4; /* Pink */
  color: #fff;
}

.Description {
  margin-bottom: 10px;
}

.Info {
  margin-top: 10px;
}

.Info p {
  margin: 5px 0;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .App {
    padding: 10px;
    border-radius: 15px;
  }

  .App-header {
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  input[type="text"] {
    width: calc(100% - 20px);
    margin: 0;
    margin-bottom: 10px; /* Add spacing between input and button */
  }

  button {
    font-size: 14px;
  }

  .AnimeCard img {
    width: 200px; /* Reduce image width for smaller screens */
  }
}
