@font-face {
	font-family:'Brown Sugar Font Family';
	src: url('assets/Brown-Sugar-Font/Brown Sugar .ttf');
}
@font-face {
	font-family:'code';
	src: url('assets/code/CODE Light.otf');
}
@font-face {
	font-family:'anka coder';
	src: url('assets/anka-coder/AnkaCoder-r.ttf');
}
@font-face {
	font-family:'Abhaya Libre';
	src: url('assets/Abhaya_Libre/AbhayaLibre-Medium.ttf');
}

html {
	background-color: #000000;
	margin-left: 50px;
	margin-right: 50px;
}

/* Header */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-family: 'Brown Sugar Font Family', sans-serif;
	font-size: 120px;
	color: #FFA1A7;
}

h2 {
	font-family: 'Brown Sugar Font Family', sans-serif;
	font-size: 64px;
	color: #EDECED;
}

h3 {
	position: absolute;
	font-family: 'code', sans-serif;
	font-size: 21px;
	color: #EDECED;
	top: 90px;
	left: 110px
}

/* Navigation */

nav {
	font-family: 'Anka Coder', sans-serif;
	font-size: 30px;
	margin: 5px;
	text-align: center;
	padding: 10px;
}

nav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 40px;
}

nav ul li a {
	color: #EDECED;
	text-decoration: none;
	padding: 10px;
}

nav ul li a:hover {
	color: #FFA1A7;
	text-decoration: underline;
}

.colour {
	color: #FFA1A7;
	font-family: 'Abhaya Libre', sans-serif;
}

.b-w {
	color: #EDECED;
	font-family: 'Abhaya Libre', sans-serif;
}

.left {
	position: relative;
	top: 70px;
	left: 30px;
}

.right {
	position: absolute;
	top: 185px;
	left: 800px;
}

.page-title {
	position: absolute;
	top: 120px;
	left: 222px;
	z-index: 1;
}

.image-container {
	display: flex;
}

.img-container figure {
	flex: 1;
}

.image-container figure a {
	text-decoration: none;
}

.image-container figure img:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out ;
}